.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  
}

.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;

}

.hero {
  padding: 92px 80px 80px 80px;
  text-align: center;
}

.hero p {
	text-align: center;
	padding: 20px;
}

.hero h2 {
	padding-top: 60px;
	text-align: center;
	text-indent: -124px;
}


.logo {
  float: left;
}
.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left;
}
.primary-footer small {
  float: left;
}
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

.col-1-3 {
  width: 29.33%;
   display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding: 19px;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {

  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
}

a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
}

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  line-height: 44px;
  padding: 40px 0 22px 0;

}

.tagline {
	text-align: right;
}


.tagline {
  margin: 46px 0 22px 0;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
}
.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}
.hero {
  line-height: 44px;
  padding: 22px 80px 66px 80px;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}
.primary-nav {
  text-align: right;
}

.teaser {

	padding: 24px;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

.btn {
  border-radius: 5px;
  color: dark green;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 5px solid green;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: blue;
  color: white;
}

primary-footer {

	line-height: 20px;
	min-width: 960px;
	padding: 70px 0 40px 0;
	background-color: orange;
	background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
	
}


























































